/*
@font-face {
font-family: "Arnhem-Blond";
src: url("Arnhem-BlondItalic.otf") format("opentype");
font-style: italic;
}

@font-face {
font-family: "Arnhem-Blond";
src: url("Arnhem-Blond.otf") format("opentype");
}
*/

body {
    font-family: "Georgia", "Times New Roman", serif;
    padding: 0;
    margin: 0;
    font-size: 20pt;
    overflow: hidden;
}


.title {
    padding-bottom: 50px;
}



.item {
    width: calc( 25vw );
    height: 100vh;
    line-height: 1.2;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

.imgContainer {

    background-size: cover;
    position: absolute;
    top:0;
    left: 0px;
    height: 100%;
    min-width: 100%;
}

.second {    background-image: url("../img/trail_thum.jpg");  }
.third {     background-image: url("../img/packet_thum.jpg"); }
.forth {     background-image: url("../img/site_thum.jpg"); }

.placeholder {
    padding-top: 30px;
    padding-left: 30px;
}

.contents {
    padding: 10px 30px 30px 30px;
    display: none;
    overflow: auto;
}

a {
    position: absolute;
    padding-top: 10px;
    display: block;
    width: 100%;
    height: calc(100% - 10px);
    text-decoration: none;
    color: black;
}


.container {
    width: 100vw;
    display: flex;
}

blockquote {
    font-size: 0.7em;
    padding: 0;
    margin: 1em 0 0 0;
    text-indent: -0.4em;
}

.source {
    display: inline-block;
/*    margin-top: 4px;*/
    line-height: 1.3em;
    text-indent: 0;
}
