body {
    margin: 0;
    padding: 0;
}

.slideshow-container {
    margin: 0;
    padding: 0;
    width: 100%;
}

.left {
    position: absolute;
    top: 0;
    width: 50vw;
    height: 100vh;
}

.left:hover {
    cursor: w-resize;
}

.right {
    position: absolute;
    top: 0;
    width: 50vw;
    height: 100vh;
    left: 50vw;
}

.right:hover {
    cursor: e-resize; 
}

img {
    width: 100%;
}