@font-face {
font-family: "Franklin-Gothic-Bold";
src: url("ITCFGothicHvy.otf") format("opentype");
font-weight: bold;
}

@font-face {
font-family: "Franklin-Gothic-Med";
src: url("ITCFGothicMed.otf") format("opentype");
font-weight: medium;
}

/*
@font-face {
font-family: "Arnhem-Blond";
src: url("Arnhem-Blond.otf") format("opentype");
}
*/


body {
    font-family: "Franklin-Gothic-Bold", Helvetica, sans-serif;
    font-style: bold;
    font-size: 15vw;
/*    height: vh;*/
}

.mainContainer {
    
    display: flex;
/*    position: absolute;*/
/*    flex-wrap: nowrap;*/
    overflow-x: auto;
    background-origin: padding-box;
/*    height: 94vh;*/
/*    overflow-y: hidden;*/
}

.firstContainer {
    padding-top: 5vh;
    position: relative;
/*    margin: auto;*/
    left: 0;
    width: 90vw;
    height: 90vh;
}

.rep {
    margin: auto;
    position: absolute;
    left: 50vw;
    width: 48vw;
    line-height: 0.9em;
    text-align: center;
    text-transform: uppercase;
}

.rep:hover {
    color: red;
    cursor: e-resize;
}

.dem {
    margin: auto;
    position: absolute;
    left: 1vw;
    width: 48vw;
    line-height: 0.9em;
    text-align: center;
    text-transform: uppercase;
}

.dem:hover {
    color: blue;
    cursor: w-resize;
}

.neu {
    position: absolute;
    top: 20vh;
    left: 39vw;
    width: 20vw;
    height: 20vh;

}

.neu img {
    width: 20vw;
/*    z-index: -1;*/
}

.neu:hover {
    color: darkgrey;
    cursor: s-resize;
}

.neuTxt {
    font-family: 'Sedgwick Ave', cursive;
    position: absolute;
    margin: auto;
    text-align: center;
    top: 3vh;
    width: 100%;
}


.repContainer {
        padding-top: 5vh;
    font-size: 50px;
    top: 5vh;
}

.flexContainer {
    height: 90vh;
    width: 100vw;
    overflow-y: auto;
}

.contents {    
    padding: 0 15vw 0 15vw;
}

.contentsTitle {
    font-size: 4vw;
    padding-left: 6vw;
    line-height: 4vw;
    width: 70%;
}

.contentsSub {
    padding-left: 6vw;
    font-size: 30px;
    padding-bottom: 1em;
}

.contentsBody {
    font-size: 30px;
    font-family: 'Franklin-Gothic-Med', Helvetica, sans-serif;
}

/*
.contentsWriter {
    font-size: 
}
*/

/*

nav {
    position: absolute;
}

.title {
    padding-bottom: 50px;
}

ul {
    line-height: 1.5;
    list-style-type: none;
    margin: 0;
    padding: 0;
    list-style-position: outside;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    max-width: 800px;
    margin-left: 300px;
    line-height: 1.5;
}

blockquote {
    padding: 0;
    margin: 1em 0 0 0;
    text-indent: -0.5em;
}

.source {
    font-size: 0.8em;
}*/
